<section id="user-header">
  <div class="jumbotron text-center">
    <h1 class="display-3">
      <img src=<%=current_user.image%> alt="No Image" class="rounded-circle">
      Hello <%= current_user.name %>!</h1>
  </div>
  <div>
    <h3 class="text-center"> Your Carbon Footprint For <%= @year %> Is: </h3>
    <div class="form-group row justify-content-center">
      <div class="total-carbon-year">
        <h5>Total: <%= @total_carbon_for_year %> kg</h5>
      </div>
    </div>
</section>

<section id="charts">
  <div id="color-key-left">

  </div>

  <div id="graph">
    <%= area_chart(@footprints, ytitle: 'Carbon(kg)', messages: {empty: 'No Data' }) %>
  </div>
  
 <div class='select-year-dropdown'>
   <% if @footprint_years %>
    <%= form_tag dashboard_path, method: :get do %>
    <div class='form-group row justify-content-center'>
        <%= select_tag(:footprint_year, options_for_select(@footprint_years, '1')) %>
        <%= submit_tag 'Select Footprint Year' %>
      </div>
    <% end %>
   <% end %>
  </div>
</section>

<section id='user-carbon-data' class="text-center p-5">
  <div class='container-lg'>
    <button class="btn btn-group">
      <button class="btn btn-success">
        <a class="btn btn-success" href='/carbon_calculator'>Carbon Calculator</a>
      </button>
      <button class="btn btn-success">
        <a class="btn btn-success" href='/footprints'>View Previous Footprints</a>
      </button>
    </button>
  </div>
</section>
