<div class="jumbotron text-center" style='margin-bottom: .3rem'>
  <h5 class="display-4" id='edit-footprint-header'>
    Edit Your Footprint</h5>
</div>

<div class='container text-center edit-footprint-form'>
  <div class='row justify-content-center'>
    <div class="card">
      <div class='footprint-month'>
        <h6 class='card-title month'>
          <%= @footprint.month %>
        </h6>
      </div>
      <div class='footprint-year'>
        <h6 class='card-title year'>
          <%= @footprint.year %>
        </h6>
      </div>
      <p class='car'><%= @footprint.car&.year %> <%= @footprint.car&.make %> <%= @footprint.car&.model %></p>
      <div class='footprint-mileage'>
        <h6>Previous Mileage: <%= @footprint.total_mileage %></h6>
      </div>
      <div class="container">
        <%= form_tag "/footprints/#{@footprint.id}", method: :patch, class: 'footprint-edit' do %>
          <div class="form-group">
              <h6><%= label_tag :total_mileage, 'Enter New Total Mileage:' %></h6>
          </div>
          <div class="form-group">
            <%= number_field_tag :total_mileage, params[:total_mileage], min: 1 %>
          </div>
          <div class="form-group row justify-content-center">
            <%= submit_tag 'Save', class: "btn btn-success btn-lg" %>
          </div>
          <%= hidden_field_tag :year, @footprint.year %>
        <% end %>
      </div>
    </div>
  </div>
</div>

