<div class="jumbotron text-center">
  <h5 class="display-4">
    Calculate Your Car's Footprint for a Month</h5>
</div>

<div class='container-lg text-center'>
  <% if @cars.nil? || @cars.empty? %>
    <section class='no-cars-alert'>
      <div class="alert alert-dismissible alert-primary">
        <strong>Oh snap!</strong> You haven't added any cars yet. <a href='/cars/new' class="alert-link">Add a car</a> to calculate your footprint.
      </div>
    </section> 
  <% end%>
</div>


<% unless @cars.nil? || @cars.empty? %>
  <section class='calculate-footprint'>
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <div class="form-group container-lg text-center">
          <%= form_tag '/carbon_calculator', method: :post do %>
            <div class='form-select form-select-lg mb-3 p-2'>
              <%= select_tag(:car_id, options_for_select(@cars.map {|car| ["#{car.year} #{car.make} #{car.model}", car.car_id]}, '1'), class: "form-control" ) %>
            </div>
            <section id='user-carbon-data' class="text-center p-3 pb-5">
              <div class='container-lg'>
                <button class="btn btn-secondary btn-sm">
                  <a class="btn btn-secondary" href='/cars/new'>Add a Car</a>
                </button>
              </div>
            </section>
            <div class='form-select form-select-lg mb-3 p-2 form-group'>
              <%= label_tag :total_mileage, 'Total Mileage', class: "col-form-label" %>
              <%= text_field_tag :total_mileage, params[:total_mileage], placeholder: 'miles driven in a month', class: "form-control" %>
            </div>
            <div class='form-select form-select-lg mb-3 p-2'>
              <div class='date-time-select'>
                <%= select_date(Date.current, order: [:month, :year]) %>
              </div>
            </div>
            <%= submit_tag 'Submit', class: "btn btn-success btn-lg" %>
          <% end %>
        </div>
      </div>
      <div class="col-sm">
      </div>
    </div>
    <%# row div ends here %>
  </section>
<% end %>

