<center>
  <h1>Add a New Vehicle</h1>
</center>

<section>
  <%= form_tag "/cars", method: :post do %>
    <%= label_tag :make %>
    <%= text_field_tag :make %>

    <%= label_tag :model %>
    <%= text_field_tag :model %>

    <%= label_tag :year %>
    <%= number_field_tag :year, nil, placeholder: "input integer"  %>

    <%= label_tag :fuel_efficiency %>
    <%= number_field_tag :fuel_efficiency, nil, placeholder: "input mpg as integer" %>

    <%= select_tag(:fuel_type, options_for_select([['Select Fuel Type'], ['Gasoline'],["Diesel"]], '1'))%> <br>

    <%= submit_tag 'Add Vehicle' %>
    <% end %>
</section>
