<!DOCTYPE html>
<html>
  <head>
    <title>FrontEnd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
    <nav class="nav">
      <% if current_user %>
        <a class="nav-link" href="/dashboard">Home</a>
        <a class="nav-link" href="/friends">Friends</a>
        <a class="nav-link active" href="/carbon_calc">Carbon Calculator</a>
        <a class="nav-link" href="/offsets">Offsets</a>
        <a class="nav-link" href="/resources">Resources</a>
        <a class="nav-link" href="/log_out">Log Out</a>
      <% end %>
  </nav>
  <body>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
   <% end %>
    <%= yield %>
  </body>
</html>
